body{
    background-color: #fc71c2;
    font-family: "Cookie";
}

.text{
    font-size: 400%;
    font-weight: bold;
}

.hov:hover{
    color: rgb(41, 41, 41);
    font-size: 410%
}

#adding{
    position: absolute;
    height: 7%;
    left:15%;
    top:14%;
    width: 7;
}

#maid_count{
    position: absolute;
    height: 7%;
    left:25%;
    top:14%;
    width: 7;
}

#taking{
    position: absolute;
    height: 7%;
    left:35%;
    top:14%;
    width: 7;
}

#start{
    position: absolute;
    height: 7%;
    left:50%;
    top:15%;
    width: 7;
}

#stop{
    position: absolute;
    height: 7%;
    left:70%;
    top:15%;
    width: 7;
}

#clock{
    position: absolute;
    text-align: center;
    left:50%;
    top:7%;
    width: 27%;
    font-size: 400%;
}

.maids{
    position: absolute;
    left:20%;
    top:40%;
    background-color: brown;
    text-align: center;
    width: 16.4%;
    font-size: 140%;
}

.pic{
    position: relative;
    width: 85%;
}

#str_button{
    position: absolute;
    text-align: center;
    left:50%;
    top:5%;
    width: 27%;
}

.input{
    font-family: "Cookie";
    font-size: 150%;
}

#Title{
    position: absolute;
    left:16%;
    top: 5%;
}