body{
    background-color: blueviolet;
}

#adding{
    position: absolute;
    height: 7%;
    left:15%;
    top:15%;
    width: 7;
}

#maid_count{
    position: absolute;
    height: 7%;
    left:25%;
    top:15%;
    width: 7;
}

#taking{
    position: absolute;
    height: 7%;
    left:35%;
    top:15%;
    width: 7;
}

#start{
    position: absolute;
    height: 7%;
    left:50%;
    top:15%;
    width: 7;
}

#stop{
    position: absolute;
    height: 7%;
    left:70%;
    top:15%;
    width: 7;
}

#clock{
    position: absolute;
    text-align: center;
    left:50%;
    top:10%;
    width: 27%;
}

.maids{
    background-color: brown;
    position: absolute;
    top:30%;
    text-align: center;
}